---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book" class="mx-8">
  <div class="flex items-center justify-center">
    <div
      class="w-full flex flex-col items-center justify-center gap-y-5 py-10 text-center max-w-lg"
    >
      <h1 class="text-2xl font-semibold">
        Bueno, esto es inesperado: has encontrado un lienzo en blanco.
      </h1>
      <h1 class="text-8xl font-black">404</h1>
      <p>
        Puedes encontrar casi cualquier cosa en Envato (aparentemente, incluso una página
        eso no existe). Mientras trabajamos para poner en marcha esta página y
        en funcionamiento, explorar el resto de nuestros activos: hay millones para
        elige entre!

      </p>
      <a
        class="bg-transparent text-black px-6 py-2 text-base font-semibold flex items-center justify-center border-[#000000] border-[1px] border-solid rounded-[4px] outline-none focus:bg-white hover:bg-white focus:border-black hover:border-black focus:text-[#191919]"
        href="#"
      >
        <span>Iniciar Sesión</span>
      </a>
    </div>
  </div>
</MainLayout>
