---
import { getToken } from "@auth/core/jwt";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Icon from "../components/Icon.astro";
import MainLayout from "../layout/MainLayout.astro";

// const token = await getToken({ req: Astro.request, secret: import.meta.env.AUTH_SECRET });
// console.log('token', token);
---

<MainLayout title="Open Book" class="mx-8">
  <div class="flex flex-col gap-y-16">
    <div>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-y-6 lg:gap-x-6 mt-9">
        <div
          class="bg-[#191919] rounded-2xl py-10 px-8 col-span-2 bg-[url('/public/images/banner.avif')] bg-cover bg-[-30px] bg-no-repeat"
        >
          <div class="flex flex-col justify-center h-full gap-y-4">
            <h1 class="text-[#ffffff] text-6xl 2xl:text-7xl font-bold">
              "<span class="text-[#9cee69] text-6xl 2xl:text-7xl font-bold"
                >Unlimited assets</span
              > for the creatively obsessed"
            </h1>
            <span class="text-[#ffffff] text-2xl font-semibold">
              Access the broadest range of asset categories in one place
            </span>
          </div>
        </div>

        <div class="">
          <div
            class="bg-white p-8 border-[1px] border-[#cccccc] border-solid rounded-2xl"
          >
            <div class="flex flex-col gap-y-4">
              <div class="flex flex-col">
                <span class="text-[#191919] text-base font-normal">Desde</span>
                <div class="flex flex-row flex-wrap items-end">
                  <span class="text-[#191919] text-3xl font-semibold"
                    >16,50&nbsp;US$</span
                  >
                  <div class="flex items-end text-inherit">
                    <span class="text-[#191919] text-base font-normal"
                      >/mes</span
                    >
                  </div>
                </div>
                <span class="text-[#707070] text-base font-normal">
                  Cancela la suscripción en cualquier momento.
                </span>
              </div>

              <div class="flex flex-col gap-y-2">
                <div class="flex flex-1 flex-row flex-nowrap gap-4">
                  <Icon name="download" size={22} />
                  <span class="text-[#191919] text-base font-normal">
                    Descargas ilimitadas
                  </span>
                </div>

                <div class="flex flex-1 flex-row flex-nowrap gap-4">
                  <Icon name="premium" size={22} />
                  <span class="text-[#191919] text-base font-normal">
                    20+ millones de recursos premium
                  </span>
                </div>

                <div class="flex flex-1 flex-row flex-nowrap gap-4">
                  <Icon name="check-badge" size={22} />
                  <span class="text-[#191919] text-base font-normal">
                    Licencia comercial de por vida
                  </span>
                </div>
              </div>

              <Button variant="primary" as="a" href="https://github.com/login">
                <span>Obtén descargas ilimitadas</span>
              </Button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="gap-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
      <Card
        url="https://assets.elements.envato.com/apps/storefront/stock-video-cover_746w-023d1386c8391e873f8b.jpg"
      />
      <Card
        url="https://assets.elements.envato.com/apps/storefront/video-templates-cover_746w-4ff3b42651346d370b0a.jpg"
        class="mt-10"
      />
      <Card
        url="https://assets.elements.envato.com/apps/storefront/photos-cover_746w-0c536314f530377c5e97.jpg"
      />
      <Card
        url="https://assets.elements.envato.com/apps/storefront/stock-video-cover_746w-023d1386c8391e873f8b.jpg"
        class="mt-10"
      />
      <Card
        url="https://assets.elements.envato.com/apps/storefront/stock-video-cover_746w-023d1386c8391e873f8b.jpg"
      />
      <Card
        url="https://assets.elements.envato.com/apps/storefront/stock-video-cover_746w-023d1386c8391e873f8b.jpg"
        class="mt-10"
      />
      <Card
        url="https://assets.elements.envato.com/apps/storefront/stock-video-cover_746w-023d1386c8391e873f8b.jpg"
      />
      <Card
        url="https://assets.elements.envato.com/apps/storefront/stock-video-cover_746w-023d1386c8391e873f8b.jpg"
        class="mt-10"
      />
    </div>

    <div class="pt-20 pb-32">
      <div class="flex items-center flex-col gap-y-10">
        <p class="text-2xl font-bold text-center">
          Con la confianza de las mejores marcas
        </p>
        <div
          class="flex flex-row flex-wrap list-none m-0 p-0 items-center justify-items-center gap-x-7"
        >
          <div class="my-0 mx-auto">
            <Icon name="adobe" size={60} />
          </div>
          <div class="my-0 mx-auto">
            <Icon name="google" size={60} />
          </div>
          <div class="my-0 mx-auto">
            <Icon name="microsoft" size={60} />
          </div>
          <div class="my-0 mx-auto">
            <Icon name="netflix" size={60} />
          </div>
          <div class="my-0 mx-auto">
            <Icon name="zoom" size={60} />
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
