---
import "../styles/global.css";
import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";

interface Props {
  title: string;
  type?: string;
  class?: string;
}

const { title, type, class: className } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>

    <main class={`mx-auto ${className}`}>
      <slot />
    </main>
  </body>
</html>
